input[type="checkbox"] {
    display: none;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 20px;
    bottom: -10px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}


input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

div {
    background-color: rgb(230, 206, 175);
    height: 200px;
    width: 300px;
    border: 5px solid black;
    padding: 10px;
    /* box-shadow: 10px  8px 5px rgb(16, 63, 78); */
    /* display: flex;
    justify-content: center;
    justify-items: center; */
    margin-top: 200px;
    margin-left: 300px;
    transition: 0.5s;
}

body {
    background-color: aliceblue;
}

.M {
    text-align: center;
    background-color: rgb(216, 235, 228)
}

div:hover {
    box-shadow: 10px 8px 5px rgb(16, 63, 78);
    transition: 0.5s;
}