*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body {
    background: url(/00_project/02-web/sky.jpg);
    background-repeat: no-repeat;
    /* width: 100vh; */
    background-size: cover;
    font-family: "Source Sans 3", sans-serif;
    padding-left: 150px;
    padding-top: 80px;
}

h1{
    width: 350px;
    line-height: 70px;
    background-color: red;
    font-weight: 700;
    font-size: 70px;
    color: white;
}
#one {
    background: rgb(255, 66, 239);
    border: 2px;
    height: 33px;
    width: 100px;
    border-radius: 20px;
    color: white;
    /* padding-top: 10px; */
}

#two {
    background: url('./sky.jpg') no-repeat;
    color: white;
    height: 37px;
    width: 130px;
    border: 1px solid white;
border-radius: 20px;
}

/* div{
    margin-top: 1.5px;
    border: 1px solid black;
    height: 150px;
    width: 250px;
    text-align: justify;
    padding-top: 5px;
} */

.main_box {
    /* text-decoration: none; */
    /* border: 0; */
    /* height: 500px; */
    /* background-color: green; */
    /* padding-top: -80px; */
    display: flex;
    padding-top: 80px;
    /* margin-top: 1.5px; */
    padding-right: 90px;
    gap: 10px;

}

.button01 {
    padding-top: 20px;
}

.one {
    border: 2px solid black;
    text-align: justify;
    width: 400px;
    height: 200px;
    padding: 20px;
    /* color: white; */
}

.two {
    border: 2px solid black;
    text-align: justify;
    width: 400px;
    height: 200px;
    padding: 20px;
    /* color: white; */
}

.three {
    border: 2px solid black;
    text-align: justify;
    width: 400px;
    height: 200px;
    padding: 20px;
    /* color: white; */
}

.four {
    border: 2px solid black;
    text-align: justify;
    width: 400px;
    height: 200px;
    padding: 20px;
    /* color: white; */
}

div h4 {
    font-weight: 900;
    font-size: 25px;
}

.paragraph {
    padding-top: 20px;
}